{% extends "studentsite/layout.html" %}



{% block container %}

<div class="container_for_all container_cocurriculum">
    <div class="for_margin_right">
        <div class="all_container_header cocurriculum_header">
            <h1 class="main_container_heading cocurriculum_heading">Your Expertises beyond Academics</h1>
        </div>

        <section class="section_for_cocurriculum">
            <div class="container_for_sport for_sport">
                <div class="for_margin_all">
                    <div class="for_deviding_all for_sport">
                        <div class="container_for_upside_all for_sport">
                            <div class="for_upside_all sport">
                                <div class="for_header">
                                    <div class="for_deviding_upside">
                                        <h2 class="sport_heading heading_for_all">Sports organised so far</h2>
                                        <div>
                                            <div class="for_sport_icons">
                                                <div class="sport_icons_list">
                                                    <div>
                                                        <i class="material-icons">sports_cricket</i>
                                                    </div>
                                                </div>
                                                <div class="sport_icons_list">
                                                    <div>
                                                        <i class="material-icons">sports_soccer</i>
                                                    </div>
                                                </div>
                                                <div class="sport_icons_list">
                                                    <div>
                                                        <i class="material-icons">sports_tennis</i>
                                                    </div>
                                                </div>
                                                <div class="sport_icons_list">
                                                    <div>
                                                        <i class="material-icons">sports_kabaddi</i>
                                                    </div>
                                                </div>
                                                <div class="sport_icons_list">
                                                    <div>
                                                        <i class="material-icons">sports_basketball</i>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_for_outcome_all for_sport">
                            <div class="for_straight_line">
                                <div></div>
                            </div>
                            <div class="for_outcome_all for_sport">
                                <div class="main_outcome">
                                    <div class="outcome_of_all for_sport">You are performing outstanding in cricket.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container_for_other1 container_for_other  for_singing">
                <div class="for_margin_all">
                    <div class="for_deviding_all for_sport">
                        <div class="container_for_upside_all for_sport">
                            <div class="for_upside_all sport">
                                <div class="for_header">
                                    <div class="for_deviding_upside">
                                        <h2 class="sport_heading heading_for_all">Singing</h2>
                                        <div class="for_sport_icons for_co_grades">
                                            <div>Grade:</div>
                                            <div class="for_sport_icons div_for_grades">B</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_for_outcome_all for_sport">
                            <div class="for_straight_line">
                                <div></div>
                            </div>
                            <div class="for_outcome_all for_sport">
                                <div class="main_outcome">
                                    <div class="outcome_of_all for_sport">You sound like an nightingale.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container_for_other1 container_for_other for_dancing">
                <div class="for_margin_all">
                    <div class="for_deviding_all for_sport">
                        <div class="container_for_upside_all for_sport">
                            <div class="for_upside_all sport">
                                <div class="for_header">
                                    <div class="for_deviding_upside">
                                        <h2 class="sport_heading heading_for_all">Dancing</h2>
                                        <div class="for_sport_icons for_co_grades">
                                            <div>Grade:</div>
                                            <div class="for_sport_icons div_for_grades">B+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_for_outcome_all for_sport">
                            <div class="for_straight_line">
                                <div></div>
                            </div>
                            <div class="for_outcome_all for_sport">
                                <div class="main_outcome">
                                    <div class="outcome_of_all for_sport">You can be the next MJ.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container_for_other2 container_for_other for_dancing">
                <div class="for_margin_all">
                    <div class="for_deviding_all for_sport">
                        <div class="container_for_upside_all for_sport">
                            <div class="for_upside_all sport">
                                <div class="for_header">
                                    <div class="for_deviding_upside">
                                        <h2 class="sport_heading heading_for_all">Quizzes</h2>
                                        <div class="for_sport_icons for_co_grades">
                                            <div>Grade:</div>
                                            <div class="for_sport_icons div_for_grades">A+</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_for_outcome_all for_sport">
                            <div class="for_straight_line">
                                <div></div>
                            </div>
                            <div class="for_outcome_all for_sport">
                                <div class="main_outcome">
                                    <div class="outcome_of_all for_sport">You perhaps like brain teasers.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="container_for_other2 container_for_other for_dancing">
                <div class="for_margin_all">
                    <div class="for_deviding_all for_sport">
                        <div class="container_for_upside_all for_sport">
                            <div class="for_upside_all sport">
                                <div class="for_header">
                                    <div class="for_deviding_upside">
                                        <h2 class="sport_heading heading_for_all">Essays Writting</h2>
                                        <div class="for_sport_icons for_co_grades">
                                            <div>Grade:</div>
                                            <div class="for_sport_icons div_for_grades">A</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container_for_outcome_all for_sport">
                            <div class="for_straight_line">
                                <div></div>
                            </div>
                            <div class="for_outcome_all for_sport">
                                <div class="main_outcome">
                                    <div class="outcome_of_all for_sport">Your writtings are exceptional.</div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </section>
    </div>
</div>



{% endblock %}