{% load static %}
{% load active_link_tags %}


<!DOCTYPE html>
<html lang="en">

<head>



    <!-- new -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- new end -->
    <link rel="shortcut icon" href="{% static 'studentsite/IIT.ico' %}" type="image/x-icon">
    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e8aac5ac55.js" crossorigin="anonymous"></script>
    <title>Academics</title>
    <link rel="stylesheet" href="{% static 'studentsite/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="header_container">
            <div class="school_logo">
                <div class="school_logo_container">
                    <div>
                        <img src="{% static 'loginsite/IIT.svg' %}" alt="school_logo" id="school_logo">
                    </div>
                    <div id="school_name">
                        <h3>
                            IIT Madras
                        </h3>
                    </div>
                </div>
            </div>
            <div class="search_container">
                <div class="search_container_head">
                    <form action="" class="search_form" role="search">
                        <div class="container_search_field">
                            <div class="container_search_field_main">
                                <div class="for_height">
                                    <div class="unknown_reason">
                                        <div class="height_another">
                                            <div class="last_div">
                                                <div class="before_input">
                                                    <input type="text" class="search_box"
                                                        placeholder="Search anything...">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="magnifying_glass_container field_button_container">
                            <div class="search_button field_button">
                                <i class="material-icons">search</i>
                            </div>
                        </button>

                        <button class="clear_container field_button_container">
                            <div class="clear_button field_button">
                                <i class="material-icons">clear</i>
                            </div>
                        </button>
                        <!-- <button></button> -->
                    </form>
                </div>
            </div>
        </div>
        <!-- header ends here -->
    </header>

    <div class="sidebar">
        <div class="nav_list">
            <ul class="sidebar_list-menu">
                <li class="sidebar_list-items list_item-home {% active_link 'studentsite:student_home' 'active' %} ">
                    <a class="sidebar_link" href="{% url 'studentsite:student_home' %}">
                        <i class="material-icons">account_circle</i>
                        <span class="link">Home</span>
                    </a>
                </li>
                <li
                    class="sidebar_list-items list_item-scores {% active_link 'studentsite:scores' 'active' %} ">
                    <a class="sidebar_link" href="{% url 'studentsite:scores' %}">
                        <i class="material-icons">table_chart</i>
                        <!-- <i class='bx bx-book-open'></i> -->
                        <span class="link">Scores</span>
                    </a>
                </li>
                <li class="sidebar_list-items list_item-analytics">
                    <a class="sidebar_link" href="{% url 'studentsite:analytics' %}">
                        <i class="material-icons">analytics</i>
                        <!-- <i class='bx bxs-bar-chart-alt-2'></i> -->
                        <span class="link">Analytics</span>
                    </a>
                </li>
                <li class="sidebar_list-items list_item-curriculum">
                    <a class="sidebar_link" href="{% url 'studentsite:cocurriculum' %}">
                        <i class="material-icons">sports</i>
                        <!-- <i class='bx bx-run'></i> -->
                        <span class="link">Co-curriculum</span>
                    </a>
                </li>
                <li class="sidebar_list-items list_item-achievement">

                    <a class="sidebar_link" href="{% url 'studentsite:achievement' %}">
                        <i class="material-icons">workspace_premium</i>
                        <!-- <i class='bx bx-medal'></i> -->
                        <span class="link">Achievement</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-remarks">

                    <a class="sidebar_link" href="{% url 'studentsite:remark' %}">
                        <i class="material-icons">gpp_good</i>
                        <!-- <i class='bx bx-notepad'></i> -->
                        <span class="link">Remarks</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-setting">

                    <a class="sidebar_link" href="#">
                        <i class="material-icons">settings</i>
                        <!-- <i class='bx bxs-cog'></i> -->
                        <span class="link">Settings</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-logout">

                    <a class="sidebar_link" href="{% url 'logout' %}">
                        <i class="material-icons">logout</i>
                        <!-- <i class='bx bx-log-out'></i> -->
                        <span class="link">Logout</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        {% block container%}
        {% endblock %}
    </div>
   
</body>

</html>