{% load static %}




<!DOCTYPE html>
<html lang="en">

<head>



    <!-- new -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- new end -->

    <link href="http://fonts.cdnfonts.com/css/product-sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/e8aac5ac55.js" crossorigin="anonymous"></script>
    <title>Academics</title>
    <link rel="stylesheet" href="{% static 'studentsite/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <header>
        <div class="school_logo">
            <div>
                <img src="{% static 'loginsite/IIT.svg' %}" alt="school_logo" id="school_logo">
            </div>
            <div>
                <span>
                    <h3>
                        IIT Madras
                    </h3>
                </span>
            </div>

        </div>


        <!-- <div class="icons">
                <div class="fas fa-search" id="search-btn"></div>
                <div class="fas fa-user" id="logout-btn"></div> -->
        <div class="search_container">
            <form action="" class="search-form">
                <input type="search" id="search-box" placeholder="search anything...">
                <i class="material-icons" for="search-box">search</i>
                <label for="search-box"></label>
            </form>
        </div>
        <!-- header ends here -->
    </header>


    <!-- <div class="Logo_content"></div>
                <div class="logo"></div>
                <i class='bx bxs-building'></i>
                <div class="logo_name">School Logo</div>
                 -->
    <div class="sidebar">
        <div class="nav_list">
            <ul class="sidebar_list-menu">

                <li class="sidebar_list-items list_item-home">


                    <a class="sidebar_link" href="{% url 'studentsite:student_home' %}">

                        <!-- <i class="fa-light fa-house-user"></i> -->
                        <i class="material-icons">account_circle</i>
                        <span class="link">Home</span>
                    </a>

                </li>

                <li class="sidebar_list-items list_item-scores">

                    <a class="sidebar_link" href="{% url 'studentsite:scores' %}">
                        <i class="material-icons">table_chart</i>
                        <!-- <i class='bx bx-book-open'></i> -->
                        <span class="link">Scores</span>
                    </a>

                </li>

                <li class="sidebar_list-items list_item-analytics">

                    <a class="sidebar_link" href="{% url 'studentsite:analytics' %}">
                        <i class="material-icons">analytics</i>
                        <!-- <i class='bx bxs-bar-chart-alt-2'></i> -->
                        <span class="link">Analytics</span>
                    </a>

                </li>

                <li class="sidebar_list-items list_item-curriculum">

                    <a class="sidebar_link" href="{% url 'studentsite:cocurriculum' %}">
                        <i class="material-icons">sports</i>
                        <!-- <i class='bx bx-run'></i> -->
                        <span class="link">Co-curriculum</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-achievement">

                    <a class="sidebar_link" href="{% url 'studentsite:achievement' %}">
                        <i class="material-icons">workspace_premium</i>
                        <!-- <i class='bx bx-medal'></i> -->
                        <span class="link">Achievement</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-remarks">

                    <a class="sidebar_link" href="{% url 'studentsite:remark' %}">
                        <i class="material-icons">gpp_good</i>
                        <!-- <i class='bx bx-notepad'></i> -->
                        <span class="link">Remarks</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-setting">

                    <a class="sidebar_link" href="#">
                        <i class="material-icons">settings</i>
                        <!-- <i class='bx bxs-cog'></i> -->
                        <span class="link">Setting</span>
                    </a>

                </li>
                <li class="sidebar_list-items list_item-logout">

                    <a class="sidebar_link" href="{% url 'logout' %}">
                        <i class="material-icons">logout</i>
                        <!-- <i class='bx bx-log-out'></i> -->
                        <span class="link">Logout</span>
                    </a>

                </li>
            </ul>
        </div>
    </div>

    <div class="container">
        {% block container%}
        {% endblock %}
    </div>
    <!-- 
    <div class="container_marks">
        {% block scores %}
        {% endblock %}
    </div>

    <div class="analytics">
        {% block analytics %}
        {% endblock %}
    </div> -->

    <!-- <script src="js/script.js"></script> -->




    <!-- new script -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <!-- new script ends -->




    <!-- <script>
        $("a.link").click(function () {
            $("a.sidebar_link").css("background-color", "black");
            $(this).css("background-color", "red");
        });
    </script> -->
</body>

</html>