{% extends "studentsite/layout.html" %}


{% block container %}

<div class="container_items scores">
    <h1>Marks, You Achieved</h1>


    <table>
        <tr>
            <th>Subject Code</th>
            <th>Subject Name</th>
            <th>Marks obtained</th>
            <th>Topper's Marks</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Phy</td>
            <td>
                90/100
            </td>
            <td>98/100</td>

        </tr>
        <tr>
            <td>2</td>
            <td>Maths</td>
            <td>98/100</td>
            <td>98/100</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Biology</td>
            <td>77/100</td>
            <td>98/100</td>
        </tr>

        <tr>
            <td>4</td>
            <td>Chemistry</td>
            <td>76/100</td>
            <td>98/100</td>
        </tr>

        <tr>
            <td>5</td>
            <td>Hindi</td>
            <td>76/100</td>
            <td>98/100</td>
        </tr>

        <tr>
            <td>6</td>
            <td>English</td>
            <td>78/100</td>
            <td>98/100</td>
        </tr>

        <tr>
            <td>7</td>
            <td>Social Science</td>
            <td>84/100</td>
            <td>98/100</td>
        </tr>
    </table>

    <div class="overall">
        <h3>Total: 578/600</h3>
        <h3>Percentage: 82.57%</h3>
    </div>

    {% for score in scores %}
    <div class="exp_tables">
      
        <ul>
            <li>{{ score.subject_exam_marks }}</li>
        </ul>
    
    </div>
    {% endfor %}
   

</div>




{% endblock %}