{% extends "studentsite/layout.html" %}
{% load static %}



{% block container %}
{% for score in scores %}
<div class="container_for_all container_scores">
    <div class="for_margin_right">
        <div class="all_container_header scores_header">
            <h1 class="main_container_heading scores_heading">Marks, You Achieved</h1>
        </div>

        <section class="section_for_scores">
            <div class="container_for_margin">
                <div class="container_for_remark_detail">
                    <div class="for_remark_heading">
                        <div class="remark_heading_padding">
                            <div class="remark_heading_container">
                                <div class="main_remark_heading">
                                    <h2 class="remark_h2">Your Marksheet</h2>
                                </div>
                                <table>
                                    <tr>
                                        <th>Subject Code</th>
                                        <th>Subject Name</th>
                                        <th>Marks obtained</th>
                                        <th>Topper's Marks</th>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>Physics</td>
                                        <td>
                                            {{ score.physics_exam_marks }}/100
                                        </td>
                                        <td>98/100</td>

                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>Maths</td>
                                        <td>{{ score.mathematics_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>Biology</td>
                                        <td>{{ score.biology_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>

                                    <tr>
                                        <td>4</td>
                                        <td>Chemistry</td>
                                        <td>{{ score.chemistry_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>

                                    <tr>
                                        <td>5</td>
                                        <td>Hindi</td>
                                        <td>{{ score.hindi_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>

                                    <tr>
                                        <td>6</td>
                                        <td>English</td>
                                        <td>{{ score.english_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>

                                    <tr>
                                        <td>7</td>
                                        <td>Sanskrit</td>
                                        <td>{{ score.sanskrit_exam_marks }}/100</td>
                                        <td>98/100</td>
                                    </tr>
                                </table>
                                <div class="overall">
                                    <h3>Total: 578/600</h3>
                                    <h3>Percentage: 82.57%</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container_for_discover">
                <div class="container_for_discover_header">
                    <div class="container_discover_heading">
                        <div class="another_container_discover_heading">
                            <h2 class="main_heading_of_discover">
                                <span></span>
                                DISCOVER
                            </h2>
                        </div>
                        <p class="container_for_more_description">
                            This section is for recommendations, quotes and study material to utilize it.
                            You can consider it, giving a watch.
                        </p>
                    </div>
                    <figure class="container_for_svg">
                        <img class="main_svg_discover" src="{% static 'studentsite/subscribe.svg' %}"
                            style="width: 360px; height: 128px;" alt="svg">
                    </figure>
                </div>

            </div>

             <!-- html for the first discover -->
    <div class="container_for_discover_content">
        <div class="for_discover_content_margin">
            <div class="for_content_header_devider">
                <div class="for_content_header_and_button">
                    <div class="for_content_description_heading">
                        <div class="heading_header">
                            <div class="header_h3">
                                <h3 class="h3_of_content">How to stay in a pace</h3>
                            </div>
                            <div class="button_for_content_link">
                              <figure class="figure_for_more">
                                <a class="link_for_more" href="">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </figure>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="for_content_description">
                    <div class="for_main_content_description">
                        <div class="for_description_flex">
                            <p class="container_for_description">
                                Increasing your concentration while studying have lots of impact on your future.
                                Check these videos, showing the ways of making up your goals.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ends here -->




    <!-- hmtl for the second discover -->
    <div class="container_for_discover_content">
        <div class="for_discover_content_margin">
            <div class="for_content_header_devider">
                <div class="for_content_header_and_button">
                    <div class="for_content_description_heading">
                        <div class="heading_header">
                            <div class="header_h3">
                                <h3 class="h3_of_content">A simple way to stay healthy</h3>
                            </div>
                            <div class="button_for_content_link">
                              <figure class="figure_for_more">
                                <a class="link_for_more" href="">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </figure>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="for_content_description">
                    <div class="for_main_content_description">
                        <div class="for_description_flex">
                            <p class="container_for_description">
                                Here are the datas of World Health Organization which recommend, 
                                a healthy body needs a better sleep and should have a right amount.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ends here -->



    <!-- html for the 3rd discover -->
    <div class="container_for_discover_content">
        <div class="for_discover_content_margin">
            <div class="for_content_header_devider">
                <div class="for_content_header_and_button">
                    <div class="for_content_description_heading">
                        <div class="heading_header">
                            <div class="header_h3">
                                <h3 class="h3_of_content">How to increse rank</h3>
                            </div>
                            <div class="button_for_content_link">
                              <figure class="figure_for_more">
                                <a class="link_for_more" href="">
                                    <i class="material-icons">chevron_right</i>
                                </a>
                            </figure>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="for_content_description">
                    <div class="for_main_content_description">
                        <div class="for_description_flex">
                            <p class="container_for_description">
                                Here is a blog for you which eplains the way of achieving concentration in study and make a better
                                schedule.
                               

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ends here -->





        </section>
    </div>

</div>
{% endfor %}



<!-- <div class="semester_scores_toggler">
    <div class="toggler_list">
        <ul>
            <li>Semester 1</li>
            <li>Semester 2</li>
            <li>Semester 3</li>
            <li>Semester 4</li>
            <li>Semester 5</li>
            
        </ul>
    </div>

</div> -->





{% endblock %}