{% extends 'loginsite/layout.html' %}

{% block body %}
<div class="instructions_container">
    <p class="instructions">
       <h1> Hello!<br></h1>
        <p>
            Your User ID and Password have been provided to you by your Institution. <br>
            In case, you have misplaced it, you should contact either your Principal or the assigned officer. <br>
            The contact details are given in the main page. <br>
            Thank you for your co-opration. <br>
        <p>
    </p>
</div>


{% endblock %}