@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&display=swap');
@import url('http://fonts.cdnfonts.com/css/product-sans');
@import url('http://fonts.cdnfonts.com/css/product-sans?styles=15767');
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,500;1,300&display=swap'); */

html{
    overflow-x: hidden;
}

div{
    display: block;
}

*{
    font-family: 'Product Sans', sans-serif;
                                                
    -webkit-tap-highlight-color: transparent;
    font-style: normal;
    font-weight: 400; 
    box-sizing: border-box;
    transition: all .2s linear;
}

a:-webkit-any-link {
    cursor: pointer;
}

/* .material-icons_cocurriculum{
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 32px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    /* -webkit-font-smoothing: antialiased; */
/* } */ 



th{
    font-size: larger;
}

body{
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    margin: 0;
    max-width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    display: block;
    letter-spacing: .01428571em;
    font-optical-sizing: none;
    text-size-adjust: 100%;
    background-color:rgb(255, 255, 255);
}


header{
    /* background-color: rgba(206, 144, 29, 0.363); */
    backdrop-filter: blur(4px);
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 986;
    /* top: 0px; */
    box-sizing: border-box;
    min-width: min-content;
    display: block;
    align-items: center;
    justify-content: space-between;
    min-width: 320px;
    transition: box-shadow 250ms;
    /* overflow: hidden; */

    box-shadow: var(--box-shadow);
}

.header_container{
    padding: 8px 15px;
    transition: background-color .4s;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    min-width: min-content;

}

.school_logo{
    /* margin-right: 40vw; */
    padding-right: 30px;
    box-sizing: border-box;
    flex: 1 0 auto;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-box-align: center;
    display: flex;
    height: 48px;
    align-items: center;

}

.school_logo_container{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: relative;
    top: 2px;


}



#school_logo{
    height: 35px;
}
#school_name h3{
    margin: 0;
    padding-left: 8px;
}



/* search container css start here */

.search_container{
    /* justify-content: flex-start; */
    position: relative;
    flex-wrap: wrap-reverse;
    flex-direction: row;
    margin-left: auto;
    /* flex: 1 1 100%; */
    height: 48px;
    vertical-align: middle;
    /* white-space: nowrap; */
    /* -webkit-box-align: center; */
    align-items: center;
    display: flex;
}

.search_container_head{
    padding-right: 30px;
    max-width: 100%;
    padding-left: 10px;
    flex: 1 1 auto;
    width: 100%;
    height: 48px;
    
}


.search_form{
    margin-left: 0;
    margin-right: 0;
    background: #f1f3f4;
    border: 1px solid transparent;
    border-radius: 8px;
    max-width: 360px;
    position: relative;
    transition: background 100ms ease-in,width 100ms ease-out;
}

.container_search_field{
    height: 46px;
    padding: 0;
    margin-left: 56px;
    margin-right: 49px;
    overflow: hidden;
}

.for_height{
    padding: 0;
    height: 46px;
    line-height: 46px;
    background: transparent;
    border: none;
    font: normal 'Product Sans', sans-serif;
    font-variant-ligatures: none;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.unknown_reason{
    height: 100%;
}

.height_another{
    height: 100%;
}
.last_div{
    height: 100%;
    display: block;
    line-height: 46px;
    flex: 1;
}

.before_input{
    position: relative;
    height: 100%;
    display: flex;
    flex: 1;

}

.search_box{
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    padding: 0 16px;
    border-color: transparent;
    border-style: solid;
    border-width: 0 1px;
    outline: none;
    height: 100%;
    background-color: transparent;
    color: inherit;
    font: inherit;
    line-height: inherit;
    position: relative;
    display: flex;
    flex: 1;
    letter-spacing: .01428571em;
}

.search_box::placeholder{
    color:#5f6368a1;
}

.magnifying_glass_container{
    padding: 0 5px;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    line-height: 0;
    float: left;
    position: absolute;
    top: 0;
}


.search_button{
    padding: 8px;
    margin: 3px;
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
    overflow: hidden;
    cursor: pointer;
    line-height: 0;
}

.clear_container{
    padding: 0 5px;
    visibility: inherit;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    line-height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: opacity 250ms ease-out;
}

.clear_button{
    padding: 8px;
    margin: 3px;
    color: #5f6368;
    opacity: 1;
    fill: currentColor;
}

/* search container css ends here */
/* header css ends here */


/* sidebar css starts here */
.sidebar{

    top: 80px;
    bottom: 0;
    display: flex;
    position: fixed;
    width: 240px;
    left: 0;
    overflow-y: auto;
    /* background-color: #D3D3D3; */
    padding: 5px 0;

}

.sidebar_link{
    display: flex;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    text-align: left;
    align-items: center;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.678);
}

.sidebar_link:hover{
    background-color:rgba(174, 176, 177, 0.212);
}


.nav_list{
    height: 100%;
    width: 100%;
}

.sidebar_list-menu{
    margin: 0;
    height: 100%;
    list-style-type: disc;
    padding: 5px 0px;
}

.sidebar_list-items{
    display: block;
    line-height: 38px;
    height: 46px;
    margin: 0;
    align-items: center;
    /* background-color: rgba(255, 255, 255, 0.555); */
}

.active {
    display: flex;
    padding-left: 20px;
    height: 100%;
    width: 100%;
    text-align: left;
    align-items: center;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: transparent;
    overflow: hidden;
    text-decoration: none;
    font-weight: bolder;
    color: rgb(49, 117, 206);
    background-color: rgba(155, 179, 245, 0.226);
}




.link{
    margin-left: 20px;
    letter-spacing: .4px;
}

/* side bar css ends here */


/* container css starts here */

 .container{
    justify-content: center;
    position: relative;
    top: 80px;
    height: 100vh;
    margin-left: 275px;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    bottom: 40px;
    bottom: 200px;
} 

.profile_pic{
    display: flex;
    justify-content: center;
    align-items: center;
}


.main_container{
    max-width: 750px;
    display: block
    ;
}

.container_head{
    max-width: 1024px;
    padding: 0 48px;
    margin-left: auto;
    margin-right: auto;
}

.home_info_static{
    padding-top: 24px ;

}

.basic_info{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    overflow-y: auto;
    
}

.scores{
    align-items: center;
    height: 100%;
    z-index: 3;
}



table{
    padding: 10px;
    position: relative;
    display: flex;
    border-collapse: collapse;
    width: 100vw;
}

td, th {
    border: 1px solid rgba(80, 73, 73, 0.521);
    padding: 8px;
    text-align: left;
}

.overall{
    text-align: left;
    padding: 10px;
}
.overall h3 {
    margin-bottom: 10px;
}



/* css for the informations container in home tab starts here */
.section_info{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-top: 0px;
    width: calc(100% + 24px);
    padding-bottom: 20px;
    -webkit-tap-highlight-color: transparent;
}

.info_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;
}

.margin_in_info{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #44454794;
    
}

.container_for_details{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
}

.info_heading{
    min-height: 1px;
}

.heading_padding{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    height: auto;
    padding-bottom: 8px;
}

.container_for_info{
    display: flex;
}

.header_of_info{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.info_h2{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    display: block;
}

.basic_info_name{
    min-height: 1px;

}

.underline_bar{
    min-height: 10px;
    padding-left: 24px;
    transition: padding-left 15ms ease-in-out;

}

.user_greeting{
    display: flex;
    justify-content: center;
    align-items: center;

}

.straight_line{
    border-top: 1px solid #dadce0;
}

.for_padding_arround{
   position: relative; 
   outline: none;
   overflow: hidden;
}

.div_for_unknown_reason{
    padding-left: 24px;
    padding-right: 24px;
   padding-top: 15px;
   padding-bottom: 16px;
   height: 100%;
   display: block;
   outline-offset: -4px;
   text-decoration: none;
}

.for_justify{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.a_line{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.seperator_div{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
}

.for_attribute{
    flex-basis: 156px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    margin-right: 24px;
    padding-top: 4px;
}
.finally{
  -webkit-box-align: center;  
  align-items: center;
  display: flex;
  padding-top: 4px;

}

.info_h3{
    font-size: .9rem;
    font-weight: 500;
    line-height: 1rem;
    text-transform: uppercase;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0;
    width: 100%;

}

.for_value{
    flex-basis: 328px;
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 24px;

}

.finally_value{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-top: 4px;

}

.finally_value div{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
}

/* css for the informations container in home tan ends here */


/* css for the score section starts here */

.section_for_scores{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-top: 0;
    width: calc(100% + 24px);
    padding-bottom: 20px;
}

/* css for the score section ends here */
/* css for the experiment tables start her */
.exp_tables{
    height: 400px;
    width: 100%;
    /* background-color: black ; */
}

/* css for the experiment tables ends here */


/* css for the analytics starts here */

.container_for_all{
    max-width: 1120px;
    padding-left: 48px;
    padding-right: 48px;
    margin-left: auto;
    margin-right: auto;

}

.for_margin_right{
    max-width: 840px;

}

.all_container_header{
    padding-top: 24px;
    display: block;
}
.main_container_heading{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0 0 16px 0;
    font-size: 1.75;
}


.section_for_analytics{
    align-items: stretch;
    -webkit-box-align: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-top: 0px;
    width: calc(100% + 24px);
    padding-bottom: 20px;
}


@media (min-width:743px)

 {
     .chartBox {
        width: 100%;
        display: flex;
        -webkit-box-align: vertical;
        flex-direction: column;

    }
}

@media (min-width:1024px) 

{
    .chartBox{
        width: 50%;
        display: flex;
        -webkit-box-align: vertical;
        flex-direction: column;
        
    }
}


.for_margin_border{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    /* background-color: #fff; */
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;
    padding: 12px;

}


/* css for the analytics ends here */
/* css for cocurriculum starts here */

.section_for_cocurriculum{
    -webkit-box-align: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-top: 0;
    width: calc(100% + 24px);
    padding-bottom: 20px;
}

.container_for_sport{
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;

}


.container_for_other{
    width: 50%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

/* @media (min-width:743)
{
    .container_for_other1{
        width: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}

@media (min-width:1024)
{
    .container_for_other1{
        width: 50%;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
} */




/* @media (min-width:743)
{
    .container_for_other2{
        width: 100%;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
}

@media (min-width:1024)
{
    .container_for_other2{
        width: 50%;
        display: flex;
        -webkit-box-orient: vertical;
        flex-direction: column;
    }
} */

.for_margin_all{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;

}

.for_deviding_all{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
}

.container_for_upside_all{
    min-height: 1px;

}

.for_upside_all{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    height: auto;
    outline-offset: -4px;
    display: block;
}

.for_header{
    display: flex;

}
.for_deviding_upside{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

.heading_for_all{
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 8px 0;
    padding: 0;
}

.for_sport_icons{
    flex-grow: 1;
    flex-shrink: 1;
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #1a73e8;
    margin: 0;
    padding: 8px 0 0 0;
    display: flex;
}

.for_co_grades{
    flex-grow: 1;
    flex-shrink: 1;
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 8px 0 0 0;
    display: flex;
}

.div_for_grades{
    flex-grow: 1;
    flex-shrink: 1;
    letter-spacing: .01428571em;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #1a73e8;
    margin-left: 8px;
    padding: 0 0 0 0;
    display: flex;
}










.main_score_icon{
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #1a73e8;
}





.grade_for_icons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.sport_icons_list{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: center;
}





.container_for_outcome_all{
    margin-top: auto;
    min-height: 1px;

}

.for_straight_line{
    padding-left: 0;
    transition: padding-left 15ms ease-in-out;
}

.for_straight_line div{
    border-top: 1px solid #dadce0;
}

.for_outcome_all{
    position: relative;
    outline: none;
    overflow: hidden;

}
.main_outcome{
    padding-bottom: 18px;
    padding-top: 17px;
    padding-left: 24px;
    padding-right: 24px;
    height: 100%;
    outline-offset: -4px;
    display: block;
}

.outcome_of_all{
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #1a73e8;
}
/* css for cocurriculum ends here */
/* css for remark start here */

.section_for_remark{
    -webkit-box-orient: stretch;
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    padding-top: 0;
    width: calc(100% + 24px);
    padding-bottom: 20px;

}

.deviding_section{
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-orient: vertical;

}




.container_for_margin{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 8px;
    box-sizing: border-box;
    overflow: hidden;
    border: 1px solid #dadce0;
    background-color: white;

}
.container_for_remark_detail{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
}

.for_remark_heading{
    min-height: 1px;
}

.remark_heading_padding{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    height: auto;
    padding-bottom: 8px;
}

.main_remark_heading{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    padding-left: 10px;
}

.remark_h2{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    flex-grow: 0;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    display: block;
}




/* css for based on performance section starts here for remark tab */
.container_for_perRemark{
    min-height: 1px;

}
.for_divControll{
    position: relative;
    outline: none;
    overflow: hidden;
}

.for_main_remark_padding{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 16px;
    height: 100%;
    outline-offset: -4px;
    color: #1a73e8;
    text-decoration: none;
    display: block;
}

.for_icon_and_remark{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.for_remark_icon_margin{
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 16px;
}
.div_for_remark_icon{
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.for_remark_feedback{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}
.for_icon_label_feedback{
    -webkit-box-align: stretch;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin-top: -4px;
}

.for_icon_label_margin{
    flex-basis: 160px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-right: 24px;
}

.for_label_padding{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-top: 4px;
}

.remark_label_heading{
    letter-spacing: .00625em;
    font-family: 'Product Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
}

.for_feedback_container{
    flex-basis: 160px;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
}

.for_feedback_padding{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-top: 4px;
}

.main_feedback_container{
    letter-spacing: .01428571em;
    font-family: 'Product Sans', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #1a73e8;
    width: 100%;
}
/* css for based on performance section ends here for remark tab */

/* css for teacher's view section in ramark tab starts here */
.teacher_view_container{
   min-height: 1px; 
}
.for_padding_teacherview{
    height: 100%;
    padding-bottom: 8px;
    padding-top: 8px;
}
.for_jscontroller_teacherview{
    overflow: hidden;
    position: relative;
}
.for_main_devider_teacherview{
    display: flex;
    overflow-x: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
}
/* .for_main_devider_teacherview::-webkit-scrollbar{
    display: none;
} */

.div_for_teacherview_padding{
    display: flex;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;
}
.container_for_teacher1{
    width: 156px;
    flex-shrink: 0;
    border-radius: 8px;
}
.for_padding_teacher1{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    box-sizing: border-box;
    height: 100%;
    padding: 12px;
    position: relative;
    width: 100%;
}
.for_margin_teacher1_img{
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
}
.main_img_container{
    width: 48px;
    height: 48px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.for_teacher1_name_department{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for_name_teacher1{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    max-width: 100%;
}

.for_main_name{
    text-align: center;
    letter-spacing: .00625em;
    font-family: 'Product Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;
}

.for_quote_teacher1{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    padding-top: 4px;
    margin-bottom: 30px;
    max-width: 100%;
}
.for_main_quote{
    text-align: center;
    text-align: center;
    letter-spacing: .00625em;
    font-family: 'Product Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    margin: 0;
    padding: 0;
    width: 100%;

}

.container_for_teacher2{
    width: 156px;
    margin-left: 12px;
    flex-shrink: 0;
    border-radius: 8px;
}
.fot_span{
    display: none;
    left: 12px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 100%;
    cursor: pointer;
    background-color: white;
    margin-top: -18px;
    position: absolute;
    top: 50%;
}

.for_span span{
    opacity: .55;
    padding: 6px;
    transition: opacity .3s ease-in-out;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-rendering: optimizeLegibility;
    text-transform: none;
    display: inline-block;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga' 1;
    -webkit-font-smoothing: antialiased;
}

/* css for teacher's view section in remark tab ends here */
/* css for remark ends here */

/* css for the achievement tab in the studentsite starts here */
/* .for_zero_height{
    height: 0;
    position: fixed;
    width: 100%;
    z-index: 985;
} */
/* .for_fixed_navigation{
    position: fixed;
} */

.achievement_navigation_header{
    background-color: rgba(255,255,255,0.96);
    border-bottom: 1px solid #dadce0;
    transition: border .25s;
    width: 100%;
}

.achievement_navigation_menu{
    display: flex;
    padding: 0;
    margin: 0;
    height: 48px;
    overflow-x: auto;
}

.achievement_list_item{
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    height: 48px;
    margin: 0 auto;
    padding: 0 16px;
}
.link_for_certificates{
    align-items: center;
    display: flex;
    position: relative;
    color: #1a73e8;
    text-decoration: none;
    /* display: block; */
}
.for_header_figure{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    font-size: 24px;
    font-weight: 400;
    padding-right: 16px;

}

.main_figure{
    width: 24px;
    height: 24px;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}


a:-webkit-any-link{
    cursor: pointer;
}
.for_achievment_label{
    letter-spacing: .01785714em;
    font-family: 'Product Sans', sans-serif;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin: 0;
    padding: 0 0 8px 0;
    text-align: center;
    white-space: nowrap;
}

.underline_bar_achievement{
    min-height: 10px;
    padding-left: 88px;
    transition: padding-left 15ms ease-in-out;
}

.straight_line_achievement{
    border-top: 1px solid #dadce0;
}
.container_for_download_icon{
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16px;
    color: forestgreen;
}
.main_icon_download{
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;
}

.main_feedback_container_achievement{
    letter-spacing: .01428571em;
    font-family: 'Product Sans', sans-serif;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    width: 100%;
}
.update_status{
    color: #5f6368;
}
.save_button{
    cursor: pointer;
}

/* css for the achievement tab in the studentsite starts here */
/* Css for the discover section in score and analytics section starts here */

.container_for_discover{
    width: 100%;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
}

.container_for_discover_header{
    margin-left: 12px;
    margin-right: 12px;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    margin-top: 32px;
    position: relative;
    padding: 32px 8px 0;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}
.container_discover_heading{
    flex-grow: 1;
    flex-shrink: 1;

}

.another_container_discover_heading{
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.main_heading_of_discover{
    font-size: 1.75rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 2.25rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.container_for_description{
    margin: 0;
    letter-spacing: .00625em;
    font-family: 'Product Sans',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin-top: 12px;

}

.container_for_svg{
    display: block;
    width: 360px;
    height: 128px;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 16px;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
}
.main_svg_discover{
    height: 100%;
    width: auto;
    border: none;

}

/* css for the discover content starts her */
.container_for_discover_content{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;
}

.for_discover_content_margin{
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 24px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    background-color: rgba(230, 225, 225, 0.212);
    border-radius: 8px;
    border: 1px solid #dadce0;
    box-sizing: border-box;
    overflow: hidden;

}
.for_content_header_devider{
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    width: 100%;

}

.for_content_header_and_button{
    min-height: 1px;
    position: relative;
    outline: none;
    overflow: hidden;
}

.for_content_description_heading{
    padding-top: 24px;
    padding-left: 24px;
    padding-right: 24px;
    height: auto;
    padding-bottom: 8px;
}

.button_for_content_link{
   flex-grow: 0;
   flex-shrink: 0;
   margin-left: 16px;
  
}

.figure_for_more:hover{
    background-color: #afb2b42a;
}
.figure_for_more{
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 24px;
    border-radius: 100%;
}

.link_for_more{
    color: #5f6368;
    cursor: pointer;
    height: 100%;
    width: 100%;
}


.heading_header{
   display: flex;
   align-items: center;
   -webkit-box-align: center;

}
.header_h3{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}




.h3_of_content{
    font-family: 'Product Sans', sans-serif;
    font-size: 1.375rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.75rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #202124;
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
}

.for_content_description{
    min-height: 1px;
    position: relative;
    outline: none;
    overflow: hidden;
}
.container_for_more_description{
    margin: 0;
    letter-spacing: .00625em;
    font-family: 'Product Sans',sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    hyphens: auto;
    word-break: break-word;
    word-wrap: break-word;
    color: #5f6368;
    margin-top: 0;
}
    


.for_main_content_description{
    padding-top: 8px;
    padding-left: 24px;
    padding-right: 50px;
    height: auto;
    padding-bottom: 8px;
}
.for_description_flex{
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    width: 50%;
}


















/* css for the discover content starts her */



/* Css for the discover section in score and analytics section starts here */



/* container css ends here */