{% extends "achievements/layout.html" %}


{% block achievements %}

<section class="section_for_achievement">
    <div class="deviding_section">
        <div class="container_for_margin">
            <div class="container_for_remark_detail">
                <div class="container_for_perRemark">
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Mechanical Workshop</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">

                                                    <div> Certificate for participating Workshop Practice</div>
                                                    <div class="update_status">Updated just now</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                </div>


                <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Cloud Computing</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate of attending Webinar </div>
                                                    <div class="update_status"> Updated 2 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>


                <!-- third certificate -->
                <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Product Designing</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate of attending Webinar </div>
                                                    <div class="update_status"> Updated 15 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third certificate ends here -->



                  <!-- third certificate -->
                  <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Annual Exam</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for Scoring the best in class </div>
                                                    <div class="update_status"> Updated 8 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third certificate ends here -->


                  <!-- third certificate -->
                  <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Attendance</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for being most regular in college </div>
                                                    <div class="update_status"> Updated 10 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third certificate ends here -->

            </div>
        </div>
    </div>
</section>



{% endblock  %}