{% extends "achievements/layout.html" %}



{% block achievements %}


<section class="section_for_achievement">
    <div class="deviding_section">
        <div class="container_for_margin">
            <div class="container_for_remark_detail">
                <div class="container_for_perRemark">
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Cricket Tournament</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">

                                                    <div> Certificate for Plying Cricket Tournament as a batsman</div>
                                                    <div class="update_status">Updated a week ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button ends here  -->


                            </div>
                        </div>
                    </div>
                </div>


                <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Dance Competition</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate of taking a part in Dance Competition </div>
                                                    <div class="update_status"> Updated 3 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button ends here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>


                <!-- third certificate -->
                <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Speak-Up</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for giving a greate Debate </div>
                                                    <div class="update_status"> Updated a month ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button ends here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third competion ends here -->

                  <!-- third certificate -->
                  <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Tech-Fest</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for participating in Cultural Festival </div>
                                                    <div class="update_status"> Updated 5 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button ends here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third competion ends here -->




                  <!-- third certificate -->
                  <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Hackathon</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for participating SIH 2022 as a Team Leader </div>
                                                    <div class="update_status"> Updated 3 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button endss here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third competion ends here -->


                  <!-- third certificate -->
                  <div class="container_for_perRemark">
                    <div class="underline_bar_achievement">
                        <div class="straight_line_achievement"></div>
                    </div>
                    <div class="for_divControll">
                        <div class="for_main_remark_padding">
                            <div class="for_icon_and_remark">
                                <div class="for_remark_icon_margin">
                                    <div class="div_for_remark_icon">
                                        <i class="material-icons">picture_as_pdf</i>
                                    </div>
                                </div>
                                <div class="for_remark_feedback">

                                    <!-- for remark icon label -->
                                    <div class="for_icon_label_feedback">
                                        <div class="for_icon_label_margin">
                                            <div class="for_label_padding">
                                                <h3 class="remark_label_heading">Ad-Mad Presentation</h3>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student starts here -->
                                        <div class="for_feedback_container">
                                            <div class="for_feedback_padding">
                                                <div class="main_feedback_container_achievement">
                                                    <div> Certificate for Making a speaking-ad </div>
                                                    <div class="update_status"> Updated 20 days ago</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- for feedback on scores achieved by student ends here -->
                                    </div>
                                </div>

                                 <!-- html for the download button starts here  -->
                                 <div class="container_for_download_icon">
                                     <figure class="save_button">
                                        <i class="material-icons">save_alt</i>
                                     </figure>       
                                </div>
                                <!-- html for the download button starts here  -->


                            </div>
                        </div>
                    </div>
                    
                </div>
                <!-- third certificate ends here -->

            </div>
        </div>
    </div>
</section>

{% endblock  %}